@media (max-width: 740px) {
  html{
    margin: 20px 50px;
  }
  body{
    margin: auto;
  }
  .headline{
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: 32px;
      
  }
  .nav{
    font-size: 12px;
  }
  .copyright{
    font-size: 12px;
  }
  .picture{
    object-fit: cover;
  }
  .dropdown_propos{
    width: 100%;
  }
  .title_inf{
    font-size: 18px;
  }
  .locale{
    font-size: 14px;
  }
  .tags{
    top: 70px;
  }
  .tag{
    
    font-size: 10px;
    padding-top: 10px;
  }
  .star{
    bottom: 0;
    left: 0;
  }
  .name_file{
    bottom: 0;
  }
  .dropdowns_up{
    display: none; 
  }
  .dropdown{
    
    font-size: 14px;
  }
}

