@media (max-width: 740px) {
  html{
    margin: 0;
  }
  .headline{
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: 32px;
      
  }

  .nav{
    font-size: 12px;
  }

  .copyright{
    font-size: 12px;
  }
  .picture{
    object-fit: cover;
  }
}

