.heater{
    display: flex;
    justify-content: space-between;

}

.logo{
    height: 68px;
    width: 210.32px;
}
.nav_container{
    display: flex;
    align-items: center;
}

.nav{
    cursor: pointer;
    color: #FF6060;
    margin-left: 57px;
}