.log-list{
    display: flex;
    flex-direction: auto;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 43px 0 43px 0;
    width: 100%;
    background: #F7F7F7;;
    border-radius: 25px;
    padding: 0;
}

.card{
    display: table;
    width: 340px;
    height: 340px;
    background: #FF6060;
    border-radius: 10px;
    margin: 30px;
    list-style: none;
    cursor: pointer;
}

img {
    border-radius: 10px 10px 0 0;
    width: 340px;
    height: 272px;
    list-style: none;
    object-fit: cover;
}

.title{
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px 20px;
    list-style: none;
}

