.container_footer{
    background-color: black;
    align-content: space-around;
    height: 209px;
    color: #e5e5e5;
    text-align: center;
}

.logo_footer{
    width: 122px;
    height: 39.44px;
    margin-top: 66px;
}