.bloc_dropdown{
    display: grid;
    grid: minmax(50%, min-content) / repeat(auto-fill, 50%);
}

.dropdown{
    max-height: 50%;
}

.info{
    position: relative;
    height: 180px;
}

.file_inf{
    color: #FF6060;
    position: absolute;
    align-items: center;
    margin-bottom: 23px;
}

.title{
    font-size: 18px;
    margin: 0 0 15px 0;
    
}

.title_inf{
    font-size: 36px;
    margin: 0 0 15px 0;
    
}

.locale{
    font-size: 18px;
    margin: 0;
}

.name_file{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.name{
    color: #FF6060;
    font-size: 18px;
    margin: 50px;
    width: 93px;
    height: 52px;
    text-align: right;
    padding-top: 10px;
    margin: 0;
    right: 0;
    
}

.Identity{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0;
    margin-left: 10px;
}

/* TAGS */
.tags{
    display: flex;
    position: absolute;
    bottom: 24px;
    margin:0;
    padding: 0;
}

.tag{
    width: auto;
    height: 25px;
    border-radius: 10px;
    background: #FF6060;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    padding: 5.5px 20px 0 20px;
    margin-right: 10px;
    cursor: pointer;
}

li{
    list-style: none;
}
.star{
    position: absolute;
    right: 0;
    bottom: 24px;
}